<div id="passwordUpdatePage">
  <form ng-init="passwordUpdateForm = {}" novalidate role="form">
    <br>
    <div id="passwordUpdateHeader">Reset Your Password</div>
    <br>
    <input id="passwordUpdatePassword" name="password" ng-model="passwordUpdate.password" placeholder="Password" required type="password">
    <br>
    <input id="passwordUpdatePasswordConfirmation" name="passwordConfirmation" ng-model="passwordUpdate.password_confirmation" placeholder="Confirm password" required type="password">
    <br>
    <button id="passwordUpdateButtonSubmit" ng-click="handlePasswordUpdate()" ng-disabled="passwordUpdateForm.$invalid" type="submit">Save</button>
    <br>
  </form>
</div>
