<div id="passwordResetPage">
  <form ng-init="passwordResetForm = {}" novalidate role="form">
    <br>
    <div id="passwordResetHeader">Password Reset</div>
    <br>
    <div id="passwordResetText">Enter the email address associated with your account, and we"ll email you a link to reset your password.</div>
    <br>
    <input id="passwordResetEmail" name="email" ng-model="passwordReset.email" placeholder="Email" required type="email">
    <br>
    <button id="passwordResetButtonSubmit" ng-click="handlePasswordReset()" ng-disabled="passwordResetForm.$invalid" type="submit">Send</button>
    <br>
  </form>
</div>
