<section>
  <!-- <%= react_component("HelloWorld") %> -->
</section>
<section ng-show="!user.id">
  <%= react_component("Welcome") %>
</section>
<section ng-show="user.id">
  <%= react_component("Dashboard") %>
</section>
<section ui-view>
