#passwordUpdatePage {
  background-color:$white;
  color:$grey;
  min-width:320;
  width:320px;
  margin:0;
  padding:0;
}

#passwordUpdateHeader {
  color:$grey-dark;
  text-align:center;
}

#passwordUpdatePassword {
  display:block;
  margin:0 auto;
  padding:10;
  width:90%;
}

#passwordUpdatePasswordConfirmation {
  display:block;
  margin:0 auto;
  padding:10;
  width:90%;
}

#passwordUpdateButtonSubmit {
  background-color:$well_done_green;
  border:none;
  color:$white;
  display:block;
  height:3em;
  margin:0 auto;
  width:90%;
}
