#passwordResetPage {
  background-color:$white;
  color:$grey;
  min-width:320;
  width:320px;
  margin:0;
  padding:0;
}

#passwordResetHeader {
  color:$grey-dark;
  text-align:center;
}

#passwordResetText {
  color:$grey-dark;
  margin-left:15px;
}

#passwordResetEmail {
  display:block;
  margin:0 auto;
  padding:10;
  width:90%;
}

#passwordResetButtonSubmit {
  background-color:$well_done_green;
  border:none;
  color:$white;
  display:block;
  height:3em;
  margin:0 auto;
  width:90%;
}
