@import "_angular/colors";
@import "_angular/booking_page";
@import "_angular/fonts";
@import "_angular/icons";
@import "_angular/login_page";
@import "_angular/password_reset_page";
@import "_angular/schedule";
@import "_angular/signup_page";

html, body {min-height:100%;}

body {
  background-color:$white;
  color:$grey;
  font-family:$fonts;
}

label {
  font-weight:normal;
}

.clearfix:after,
.clearfix:before {
  content:" ";
  display:table;
}

.clearfix:after {
  clear:both;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display:none !important;
}

::-webkit-input-placeholder {
  color:$grey;
}
:-moz-input-placeholder {
  color:$grey;
}
:-o-input-placeholder {
  color:$grey;
}
:-ms-input-placeholder {
  color:$grey;
}
