<form ng-init="passwordChangeForm = {}" novalidate role="form">
  <label for="email">Email</label>
  <input id="email" ng-model="email" required type="email">
  <br>
  <label for="passwordCurrent">Current Password</label>
  <input id="passwordCurrent" ng-model="password_current" required type="password">
  <br>
  <label for="password">New Password</label>
  <input id="password" ng-model="password" required type="password">
  <br>
  <label for="passwordConfirmation">Retype Password</label>
  <input id="passwordConfirmation" ng-model="password_confirmation" required type="password">
  <br>
  <button ng-click="updatePassword()" ng-disabled="passwordChangeForm.$invalid">Save</button>
  <span></span>
  <button ui-sref="dashboard">Close</button>
</form>
